* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.nav-bar {
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgb(32, 113, 120);
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}

.nav-items {
    list-style-type: none;
    text-align: center;
    padding: none;
    margin: 7px;
}
.nav-items li, .nav-items li a {
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    display: inline;
    text-align: center;
    color: white;
    font-size: 13px;
}

.right-header {
    text-align: right;
}

main {
    margin: 0;
    padding: 100px 5px 150px 5px;
    width: 100%;
    background: white;
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    color: rgb(32, 113, 120);
    font-size: 22px;
}

h2 {
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    color: rgb(32, 113, 120);
    font-size: 19px;
}

body {
    font-size: 13px;
    line-height: 2;
}

section.projects, section.bio {
    margin-bottom: 100px;
}

img.screenshot{
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
img.contact-image {
    height: 100px;
    width: auto;
}

section.contact-me {
    text-align: center;
}
footer {
    background: rgb(32, 113, 120);
    color: white;
    padding: none;
    margin: none;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    font-size: 12px;
}

.contact-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: rgb(32, 113, 120);
}

.contact-link {
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    color: rgb(32, 113, 120);
}

footer a {
    color: white;
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
}

.github-icon {
    height: 100px;
    position: relative;
    clear: left;
    float: left;
}

.linkedin-icon {
    height: 90px;
    float: right;
    position: relative;
}

@media only screen and (min-width: 600px) {
    .nav-items li, .nav-items li a {
        font-size: 16px;
    }
    body {
        font-size: 16px;
    }

    main {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 250px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    footer p {
        font-size: 16px;
    }

    img.contact-image {
        height: 170px;
        width: auto;
    }

    img.screenshot {
        width: 550px;
        height: auto;
        margin-bottom: 50px;
    }

    .github-icon {
        height: 150px;
    }

    .linkedin-icon {
        height: 140px;
    }
}

@media only screen and (min-width: 1020px) {
    .nav-items li, .nav-items li a {
        font-size: 22px;
    }
    body {
        font-size: 18px;
    }

    main {
        padding-left: 175px;
        padding-right: 175px;
        padding-bottom: 300px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
    }

    footer {
        height: 70px;
    }
    footer p {
        font-size: 18px;
    }

    img.contact-image {
        height: 250px;
        width: auto;
    }

    section.contact-me {
        margin-top: 200px;
    }

    img.screenshot {
        width: 650px;
        height: auto;
        margin-bottom: 100px;
    }

    .github-icon {
        height: 200px;
    }

    .linkedin-icon {
        height: 190px;
    }
}