* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: none;
    margin: 0;
}

.nav-bar {
    width: 100%;
    margin: 0;
    background: rgb(32, 113, 120);
    color: white;
}

.nav-items {
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
}

section {
  padding: 0 200px;
  margin-top: 0;
}


main {
    padding: 0;
    margin: 0;
    width: 100%;
    background: white;
}
h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    color: rgb(32, 113, 120);
}

.contact-image {
    height: 300px;
}

footer {
    text-align: center;
    background: rgb(32, 113, 120);
    color: white;
}

a {
    color: rgb(32, 113, 120);
}

.contact-link {
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    color: rgb(32, 113, 120);
}

footer a {
    color: white;
}
