* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: none;
    margin: 0;
}

.nav-bar {
    width: 100%;
    margin: 0;
    background: rgb(13, 28, 94);
    font-color: white;
}

section {
  padding: 0 200px;
  margin-top: 0;
}


main {
    padding: 0;
    margin: 0;
    width: 100%;
    background: rgb(184, 245, 242);
}
h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
}

.contact-image {
    height: 300px;
}

footer {
    text-align: center;
    background: darkgrey;
}

.contact-link {
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
}
